[Unit]
Description=Run Levi encrypted backups every hour

[Timer]
OnCalendar=hourly
Persistent=true
RandomizedDelaySec=5m
Unit=levi-backup-hourly.service

[Install]
WantedBy=timers.target
