[Unit]
Description=Run Levi encrypted daily backups

[Timer]
OnCalendar=*-*-* 03:20:00
Persistent=true
RandomizedDelaySec=10m
Unit=levi-backup-daily.service

[Install]
WantedBy=timers.target
